{% load loader_tags %}{% extends "base/base.html" %}
{% load i18n %}
{% load mailtags %}


{% block headercontent %}
<link href="{{ MEDIA_URL }}css/message.css" rel="stylesheet" type="text/css"></link>
{% endblock %}

{% block inpage_title %}{% trans "Message Header" %}{% endblock %}

{% block extra_menus %}<a href="{% url message_list folder.url %}">
{% trans "Message List" %}</a>&nbsp;&nbsp;
<a href="{% url folder_list %}">{% trans "Folder List" %}</a>&nbsp;&nbsp;{% endblock %}

{% block contents %}

<div class="message">
<div class="subject">
{% trans "Message Structure" %}
</div><pre>
<table>
  <tr>
    <th>Number</th>
    <th>Media</th>
    <th>Is text?</th>
    <th>Is basic?</th>
    <th>Is multipart?</th>
    <th>Is encapsulated?</th>
    <th>Is attachment?</th>
    <th>Charset</th>
  </tr>
{% for part in message.bodystructure.serial_message %}
  <tr>
    <td>{{ part.part_number }}</td>
    <td>{{ part.media }}/{{ part.media_subtype }}</td>
    <td>{{ part.is_text }}</td>
    <td>{{ part.is_basic }}</td>
    <td>{{ part.is_multipart }}</td>
    <td>{{ part.is_encapsulated }}</td>
    <td>{{ part.is_attachment }}</td>
    <td>{{ part.charset }}</td>
  </tr>
  {# {{ message.bodystructure.represent }} #}
{% endfor %}
</table>
</pre></div>
{% endblock %}
