div.message {
    border: none;
    padding: 0;
}

div.enc_message {
    border: 1px solid black;
    padding: 0.3em;
    margin-bottom: 0.3em;
}

div.enc_msg_title {
    color: #0000c0;
    font-weight: bold;
    font-size: smaller;
    padding: 0 0 0.3em 0;
}

div.subject {
    border: 1px solid black;
    background-color: #4a79cd;
    color: white;
    font-weight: bold;
    font-size: smaller;
    padding: 0.2em;
}

div.fields {
    border: 1px solid black;
    border-top-width: 0;
    background-color: #eeeee6;
    color: black;
    font-size: smaller;
    padding: 0.2em;
}

div.message_info {
    border: 1px solid darkgray;
    background-color: #eeeee6;
    color: black;
    font-size: smaller;
    padding: 0.2em;
    text-align:right;
}

div.message_info p { 
    padding: 0; margin: 0;}

div.fields table {
    text-align: left;
}

div.message_body {
    padding: 0.2em;
}

div.attach_link {
    border: 1px solid darkgray;
    background-color: #eeeee6;
    font-size: smaller;
}

div.attach_link table {
    text-align: left;
}

#sub_menu {
    font-size: xx-smaller;
}

#sub_menu_right {
    float: right; }
