
div.message_list {
    border-collapse: collapse;
    border-spacing: 1px;

    margin: 0 0 0.5em 0;
    font-size: small;
    width: 100%;
    color: #5d5d5d;
}

div.message {
    padding: 0.2em 0.3em 0.2em 0.3em;
}

div.message_list p {
    margin: 0;
    padding: 0;
}

div.message_page {
    border: 1px solid darkgray;
    background-color: #eeeee6;
    font-size: smaller;
    margin: 0;
}

div.message_page p {
    margin: 0;
    padding: 0;
}

div.message_page_right { float: right; }

div.date { float: right; }

div.row_b { background-color: #f0f0f0; }

div.not_seen { font-weight: bold;
    font-size: small;}
div.seen { font-size: small; }

div.deleted {
    text-decoration: line-through;
    font-size: small; }

div.number { text-align:right; }

div.filter_list {
    background-color: #f0f0f0;
    font-size: x-small;
}
div.filter_list table th {
    font-size: small;
    }

.disabled {
    color: lightgray;
    }